*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
/* banner styles */
header{
    background-image: url(../images/banner/banner2.png);
    background-repeat: no-repeat;
    width: auto;
    height: 100vh;
    position: relative;
}
.banner{
    
    position: absolute;
    top: 210px;
    left: 845px;
    text-align: right;
    margin-right: 230px;
}
.banner-title{
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 24px;
}
.banner-description{
    color: #444343;
    font-size: 16px;
    font-weight: 400;  
    margin-bottom: 32px;
}
.btn-primary{
    cursor: pointer;
    color: white;
    background: #F15B22;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    padding: 20px 25px;
}
/* main styles */
main{
    max-width: 1170px;
    margin: 0 auto;
}
/* failure section styles */
.failures{
    display: flex;
    gap: 85px;
    margin-top: 130px;
}
.failure-img{
}
.failure-text{
    margin-top: 260px;
}
.failure-title{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
}
.failure-description{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 16px;
}
.lists{
    font-size: 16px;
}
.lists img{
   padding-right: 10px;
    
}